<div class="bet-container">
    <mat-card class="example-card mat-elevation-z8"> 
        <mat-card-title class="title">Ticket Staking Form</mat-card-title>
        <hr style="width: 95%;" color="grey"/>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field >
                    <mat-label color="primay">Amount</mat-label>
                    <input matInput type="number" class="example-input" placeholder="0" />
                    <span matTextPrefix>$&nbsp;</span>
                    <span matTextSuffix>.00</span>
                    <!-- <mat-hint align="end">Minimum stake is $200.00</mat-hint> -->
                  </mat-form-field>
                <button mat-button type="submit" mat-raised-button color="primary">Submit</button>
            </form>
    </mat-card-content>
    </mat-card>
  </div>