<!-- <mat-toolbar color="primary">
    <span class="fill-remaining-space">Type setting via component</span>
  </mat-toolbar>
  
  <div class="container" *ngIf="!post; else forminfo" novalidate> 
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
  
      <mat-form-field class="form-element">
        <input matInput type="number" placeholder="Type via template" formControlName="firstname">
      </mat-form-field>
  
      <mat-form-field class="form-element">
        <input matInput [type]="dynamictype" placeholder="Type via component" formControlName="lastname">
      </mat-form-field>
  
      <input type="number" placeholder="default input, type via template" formControlName="defaulttemp"/>
      <br />
      <input [type]="dynamictype" placeholder="default input, type via component" formControlName="defaultdyn"/>
      <br />
      <input type="number" [type]="dynamictype" placeholder="default input, additional type attribute" formControlName="defaultadditional"/>
  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>
  
    </form>
  </div> -->

  <div class="bet-container">
    <span style="text-align: right;">
        <button mat-button ><mat-icon style="color: red; font-size: 20px;">close</mat-icon></button>
    </span>
    <mat-card class="example-card mat-elevation-z8">
        <mat-card-title class="title">Ticket Staking Form</mat-card-title>
        <hr style="width: 95%;" color="grey"/>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field >
                    <mat-label color="primay">Amount</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0" />
                    <span matTextPrefix>$&nbsp;</span>
                    <span matTextSuffix>.00</span>
                    <!-- <mat-hint align="end">Minimum stake is $200.00</mat-hint> -->
                  </mat-form-field>
                <button mat-button type="submit" mat-raised-button color="primary">Submit</button>
            </form>
    </mat-card-content>
    </mat-card>
    
  
  
  </div>

  
  <ng-template #forminfo>
    <div class="container">
      {{ post | json }}
    </div>
  </ng-template>