.sidenav{
    user-select: none;
    box-shadow: 2px 2px 6px 1px #48494d !important;
    z-index: 6;
    color: #f5deb3 !important;
     
    .parent{
      padding: 2px 10px !important;
      display: flex;
      color: #f5deb3 !important;
    }
    .submenu{
      display:flex;
      width: 100%;
      overflow-y: hidden;
      transition: transform 300ms ease;
      transform: scaleY(0);
      transform-origin: top;
      // padding-left: 30px;


      .mat-icon, a{
        display: inline-flex;
        padding-left: 5px;
        position: relative;
        color: #f5deb3 !important;
        font-weight: bolder;
      }
      
    }
    .mat-icon{
      padding-top: 5px;
      margin-right: 10px;
    }
    .menu-button {
      transition: 300ms ease-in-out;
      transform: rotate(0deg);
      padding-top: 8px !important;
    }
    
    .submenu.expanded {
      transform: scaleY(1);
    }
}

.mat-sidenav-container{
    display: flex;
    min-height: 600px;
    height: max-content;
    overflow: auto;
    margin: 0;
    padding: 0;
    // background-color: #333257;
    
    .sidenav-content{
        margin: 10px 20px;
        padding: 20px;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}



