@import "theme";

$myFont: Helvetica, sans-serif;
$primary: red;
$myFontSize: 18px;
$myWidth: 680px;

html, body{
    margin: 0;
    padding: 0;
    font-family: $myFont;
}
.example-spacer {
    flex: 1 1 auto;
  }

a{
  text-decoration: none;
}

// .logo{
//     width: 200px !important;
//     height: 40px !important;
//     margin-left: 50px;
//   }
  // .mdc-list-item__primary-text{
  //   color: $light-warning !important;
  // }
  .mdc-list-item__primary-text:hover{
    color: whitesmoke !important;
  }
.example-icon{
  color: whitesmoke !important;
}
.warn{
  color: white !important;
  background-color: #ff9c07 !important;
}
.danger{
  color: white !important;
  background-color: red !important;
}
.accent{
  color: white !important;
  background-color: #67b909 !important;
}
.success{
  color: white !important;
  background-color: #10a502 !important;
}
.warn-text{
  color: #ff9c07 !important;
  font-size: 16px !important;
  letter-spacing: 1px !important;
}
.danger-text{
  color: red !important;
  font-size: 16px !important;
  letter-spacing: 1px !important;
}
.accent-text{
  color: #63b405 !important;
  font-size: 16px !important;
  letter-spacing: 1px !important;
}
.success-text{
  color: #10a502 !important;
  font-size: 16px !important;
  letter-spacing: 1px !important;
}
/******  TICKETS STYLES  *******/
// p {
//     font-family: Lato;
//   }
.flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.example-card {
  max-width: 300px;
  margin: 4px;
  width: 200px;
  
  // background-color: teal;
}
.card-header{
  display: flex;
  flex-direction: column;
}
.card-title{
  font-size: 50px !important;
  text-align: center !important;
}
.card-subtitle{
  text-align: center;
}
table{
  width: 100%;
}
// .mat-column-position{
//   width: 5%;
// }
// .mat-column-name{
//   width: 10%;
// }
// .mat-column-action{
//   width: 15%;
// }
// .mat-column-weight{
//   width: 40%;
// }
// .mat-column-odd{
//   width: 5%;
// }
// .mat-column-symbol{
//   width: 15%;
// }

@media screen and (max-width: 768) {
  .flex{
      display: flex !important;
      flex-direction: column !important;
      width: 100%;
  }
    
  .example-card {
  margin-bottom: 20px;
  width: 200px !important;
  
  // background-color: teal;
  }
  table{
      overflow-x: auto;
  }
 
}